<div class="list-group" id="device-list" *ngIf="devices != null">

  <!--Device-List Items-->
  <a *ngFor="let device of devices; let i = index" href="#detail-container"
     [ngClass]="i==selectedIndex?'list-group-item active':'list-group-item'" (click)="onSelect(device, i)">
    <h4 class="list-group-item-heading">{{device?.name}}</h4>
    <p class="list-group-item-text">{{getTimeString(device?.lastSeen)}}
      <i class="fa fa-plug" aria-hidden="true" [style.color]="getColor(device)"></i>
    </p>
  </a>

</div>

<!--Force Update Button-->
<button type="button" class="btn btn-warning btn-block" (click)="updateDevices()"><i class="fa fa-refresh" aria-hidden="true"></i>
  Force Update
</button>
