<br>
<div class="row">
  <div class="col-md-12">

    <!--List of all Devices-->
    <div class="col-md-2">
      <cc-device-list (selectedDeviceEmitter)="setSelectedDevice($event)"></cc-device-list>
    </div>

    <!--Details of the current selected Device-->
    <div class="col-md-10" >
      <div class="panel panel-default" >
        <div class="panel-heading">
          <h3 class="panel-title">Details</h3>
        </div>
        <div class="panel-body" id="detail-container">
          <cc-device-single [device]="getSelectedDevice()"></cc-device-single>
        </div>
      </div>
    </div>

  </div>
</div>
