<!-- Lastupdate (time) -->
<div class="row text-center">
  <div class="col-md-2 col-xs-6 pull-right">
    <i class="fa fa-clock-o" aria-hidden="true"></i> Last Update: {{lastUpdate}}
  </div>
</div>

<!-- Tab controll -->
<ul class="nav nav-tabs">
  <li role="presentation" [ngClass]="isOverviewActive()?'active':''" (click)="setOverviewActive(true)"><a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i> Overview</a></li>
  <li role="presentation" [ngClass]="isDetailsViewActive()?'active':''" (click)="setDetailsActive(true)"><a href="#"><i class="fa fa-list-ul" aria-hidden="true"></i> Details</a></li>
</ul>

<!-- Overview -->
<cc-overview *ngIf="isOverviewActive()==true"></cc-overview>

<!-- Detail view -->
<cc-details *ngIf="isDetailsViewActive()==true"></cc-details>
