<div class="col-md-12">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 hidden-xs">
        <h3 style="text-align: center">
          <span class="label label-primary">Total <span class="badge">{{online+offline}}</span></span>
          <span class="label label-danger">Offline <span class="badge">{{offline}}</span></span>
          <span class="label label-success">Online <span class="badge">{{online}}</span></span>
        </h3>
      </div>
      <div class="col-md-12 visible-xs">
        <div class="row">
          <div class="col-xs-6"><h4 style="text-align: center"><span class="label label-primary">Total <span class="badge">{{online+offline}}</span></span></h4></div>
          <div class="col-xs-6">
            <h4 style="text-align: center"><span class="label label-danger">Offline <span class="badge">{{offline}}</span></span></h4>
            <h4 style="text-align: center"><span class="label label-success">Online <span class="badge">{{online}}</span></span></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">

          <!-- Pie Chart -->
          <div class="col-md-3">
            <div class="col-md-12 panel panel-default">
              <h3 class="chartTitle">Average Device Connection State</h3>
              <div id="onof_chart" class="center-block"><img src="../../loading.gif"></div>
            </div>
          </div>
          <!-- end of Pie Chart -->

          <!-- Line Chart -->
          <div class="col-md-9 panel panel-default">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <h3><span class="chartTitle">Device Connection State History</span></h3>
                </div>
                <div class="col-md-9">
                  <!-- Settings for Area chart -->
                  <br>
                  <div class="input-group pull-right col-md-3">
                    <span class="input-group-addon" id="sizing-addon2">Shown Range </span>
                    <input type="number" class="form-control" aria-label="...">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default">-----</button>
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">sec</a></li>
                        <li><a href="#">min</a></li>
                        <li><a href="#">hour</a></li>
                        <li><a href="#">days</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">all</a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- Settings for Area chart -->
                </div>
              </div>
              <div id="history_onof_chart" class="center-block"><img src="../../loading.gif"></div>
            </div>
          </div>
          <!-- end of Line Chart -->

        </div>
      </div>
    </div>
  </div>
</div>
